
html, body {
  height: 100%;
  border-width: 0;
  margin: 0;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  font-size: 10pt;
  font-family: serif;
}

header {
  align-content: center;
  height: 8rem;
  font-size: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #7a95a0;
  background: #F7FAFB;
}

#main {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  color: #7d8991;
}

#surface {
  border: #000000 solid 1px;
}

footer {
  align-content: center;
  height: 3rem;
  font-size: 0.8rem;
  text-align: center;
  color: #bbc7cc;
  background: #F7FAFB;
}
